<html lang="en">

 {{>header}}
  <body>
    {{>link}}

    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="product-title">Error Page</h2>
              <ol class="breadcrumb">
                <li><a href="/">Home /</a></li>
                <li class="current">Error Page</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="counter-section section-padding">
       <div>
            <h1>Internal Server Error</h1>
            <a href="/">Go to home</a>
        </div>
    </section>



  {{>footer}}

    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>

   {{>script}}
  </body>

</html>